
.jumbotron-bg-dark {
background-image: url("../images/banner/banner4.jpg");
background-size: cover;}

.jumbotron-bg-dark  h1 {
    color: white;
}

.jumbotron-bg-dark  p {
    color: white;
}

.jumbotron-bg-dark .form-group p {
	font-size: 12px;
	color: #cfcfcf;
}

.btn-jumbo{
	width:100%;
}

.jumbotron-bg-white{
	background-image: url("../images/banner/banner1.jpg");
	background-size: cover;
}

.jumbotron-bg-white  h1 {
    color: black;
}

.jumbotron-bg-white p {
    color: black;
}