/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
background-image: url("../images/banner/banner4.jpg");
background-size: cover;}

.jumbotron  h1 {
    color: white;
}

.jumbotron  p {
    color: white;
}

.jumbotron .form-group p {
	font-size: 12px;
	color: #cfcfcf;
}

.btn-jumbo{
	width:100%;
}